HTML {
    background: url(./assets/background2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
  .App {
  text-align: center;
}

.modal-content {
  text-align: center;
}

.Vocab-Word{
  font-size: 7rem;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: black !important;
  padding-bottom: 3rem;
}
.definition {
  font-size: 2rem;
}
.hidden {
  display: none;
}

Div {
  margin: 1rem;
}

.btn-primary {
    margin: .5rem;
}

.App-title{
  font-family: 'Passion One', cursive;
  font-size: 10rem;
}
/* .App-header{

} */


/* .singleFlashcard{

}


.Next-card{

}  */
