.App {
  text-align: center;
}

.modal-content {
  text-align: center;
}

.Vocab-Word{
  font-size: 7rem;
}

.definition {
  font-size: 2rem;
}
.hidden {
  display: none;
}

Div {
  margin: 1rem;
}

.btn-primary {
    margin: .5rem;
}

/* .App-header{

}

.App-title{

}

.singleFlashcard{

}


.Next-card{

} */
